@import "tailwindcss";

:root {
  --text-color: #ffffff;
  --background: linear-gradient(to bottom left, #101011, #4b4141);
  --element-color: #474545;
  --element-border: #858c8e;
  --hero-element-color: #fc8787;
  --hero-element-border: #ad4747;
}

body {
  background: var(--background);
  color: var(--text-color);
}

input:focus{
  outline: none;
}

#auth-form {
  border: 1px solid  #646262;
  border-radius: 6px;
  background-color: #373535;
  min-height: 215px;
  height: fit-content;
  box-shadow: 2px 3px 7px black;
}

#auth-form input, button {
  box-shadow: 1px 1px 3px black;
  border: 1px solid var(--element-border);
  border-radius: 6px;
  background-color: var(--element-color);

  transition: 0.3s;
}

#auth-form input:hover, button:hover {
  border-color: #646869;
  background-color: #3d3b3b;
}

#auth-nav-bar{
  background: linear-gradient(to bottom left, #1b1a1a, #383838);
  padding: 15px;
  border-bottom: 1px solid var(--element-border);
  border-radius: 0px 0px 6px 6px;
  font-size: 1.2rem;
}

#home span, #book span{
  color: var(--hero-element-color);
}

#home button, .user-settings-button {
  background-color: var(--hero-element-color);
  text-shadow: 1px 1px 1px black;
  border: 2px solid var(--hero-element-border);
  font-weight: 600;
  padding: 6px;
  padding-inline: 9px;
}

#home button:hover {
  background-color: #a85454;
  border-color: #fc8787;
}

#book table {
  text-shadow: 1px 1px 1px black;
}

#book table span {
  color: rgb(214, 92, 92);
}

#book button {
  background-color: transparent;
  border: none transparent;
  box-shadow: none;
  text-shadow: 1px 1px 1px black;
}

.user-settings-button {
  border-radius: 100%;
  border-top-right-radius: 0;
  height: 40px;
  width: 40px;
}
  
.dropdown:hover .dropdown-content { 
  display: flex;
}